.conDelTourOuter{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conDelTourInner{
    position: relative;
    background: var(--componet-color);
    min-height: 150px;
    width: 500px;
    border-radius: 8px;
}

.cancel{
    color: var(--line-color);
    border: solid 2px;
    border-radius: 5px;

    text-align: center;
    width: 50%;

    margin: 0 auto;
}

.cancel:hover{
    cursor: pointer;
    color: var(--noti-color);
}

.accept-tour{
    border-radius: 5px;
    background: var(--noti-color);

    text-align: center;
    width: 50%;

    margin: 0 auto;
}

.accept-tour:hover{
    background: #fff;
    color: var(--noti-color);
    cursor: pointer;
}

.condelTourQes{
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.red{
    color: var(--noti-color);
}

.ownerName{
    font-size: 0.5em;
}