.createTourOuter{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createTourInner{
    position: relative;
    background: var(--componet-color);
    z-index: 9999;
    min-height:550px;
    width: 400px;
    border-radius: 8px;
    margin-top: 60px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.createTourInner form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.closeCreateTourBtn{
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    top: 5px;
    right: 15px;
}

.closeCreateTourBtn:hover{
    color: var(--noti-color);
    cursor: pointer;
}

.uploadWrape label{
    color: var(--line-color);
}

.inputBox{
    height: 35px;
    width: 320px;

    background: var(--input-color);
    color: #b6b6b6;
    font-weight: bold;

    border: none;
    border-radius: 20px;
    padding-left: 10px;
}

.inputBox-date{
    height: 35px;
    width: 130px;

    background: var(--input-color);
    color: #b6b6b6;
    font-weight: bold;

    border: none;
    border-radius: 20px;
    padding-left: 10px;
}

.dateBox{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.dateBox label{
    color: var(--line-color);
    margin-left: 4px;
}

.dateSelect{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loadingPage{
    position: fixed;
    top: 0;
    right: 0;
    background: var(--bg-color);
    height: 100vh;
    width: 100%;

    z-index: 9999;
}