.loginPop{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPop-inner{
    position: relative;
    background: var(--componet-color);
    min-height: 485px;
    width: 400px;
    border-radius: 8px;
    
}

.loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}



.forgetPassword{
    text-decoration: underline;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-start;
    column-gap: 0.5em;
    margin-right: 40%;
}

.forgetPassword:hover{
    cursor: pointer;
}


.loginPop-inner .close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.loginPop-inner .close:hover{
    cursor: pointer;
    color: var(--noti-color);
}


.passwordToggle{
    position: absolute;
    top: 7px;
    right: 8px;
    z-index: 1000px;
    cursor: pointer;
}

.passwordWrape{
    position: relative;
}



