
.matchRow{
    display: flex;
    flex-direction: column;

    margin: 10px 0;
}

.matchRow .matchList:nth-child(even){
    background: var(--bg-color);
}

.matchRow .matchList:nth-child(odd) .score{
    background: var(--bg-color);
}

.matchList{
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: solid 1px var(--bg-color);
    border-radius: 8px;

    margin: 0 auto;
}

.Bracket{
    font-size: 1.4em;
    font-weight: bold;
}

.pair{
    font-size: 1.2em;
    font-weight: bold;
}

.matchDetail{
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.matchDetail .teamAndScore .teamName{
    width: 150px;
    overflow: hidden;
    margin: 0 auto;
    font-size: 1em;
}

.matchDetail .teamName:hover{
    cursor: pointer;
    text-shadow: 
    0 0 4px rgb(10, 253, 221);
}

.teamAndScore{
    display: flex;
}

.score{
    min-height: 30px;
    min-width: 50px;
    border-radius: 4px;
    background: var(--componet-color);
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 10px;
}

.playTime{
    font-weight: bold;
    font-size: 1.2em;
}

.upComing{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto;

    width: 80%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border: solid 1px var(--bg-color);
    border-radius: 8px;

    background: var(--bg-color);
}

.ruleString{
    font-size: 1.2em;
    white-space: pre-line;
}

.settingFlex{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.settingRuleBtn{
    background: var(--fyty-color);
    width: 100px;
    height: 30px;
    border-radius: 4px;
    font-size: 1.0em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingRuleBtn:hover{
    background: var(--hover-color);
    cursor: pointer;
}

.ruleBtn{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 10px;
}

.confirmRuleBtn{
    background: var(--fyty-color);
    width: 100px;
    height: 30px;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmRuleBtn:hover{
    background: var(--hover-color);
    cursor: pointer;
}

.cancelRuleBtn{
    color: var(--line-color);
    width: 94px;
    height: 24px;
    border: solid 3px;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelRuleBtn:hover{
    color: var(--noti-color);
    cursor: pointer;
}

.ruleInput textarea{
    background: var(--bg-color);
    border: none;
    border-radius:  8px;
    
    font-size: 1.2em;
    color: #fff;

    min-height: 100px;
    width: 100%;
}