.dtl{
    height: 30px;
    border-radius: 8px;
    border: none;
    background: var(--input-color);
    color: #fff;
}

.ads{
    margin: 40px auto;
    height: 240px;
    width: 84vw;
    cursor: pointer;
}

.ads img{
    object-fit: cover;
    height: inherit;
    width: inherit;
}

.vdoWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 400px;
    width: 1200px;
}

.vdo{
    margin: auto;
}

.lightBtn{
    background: var(--fyty-color);
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 8px 4px rgba(50, 255, 255, 0.4);
    margin-top: 20px;
}

.lightBtn:hover{
    background: var(--hover-color);
    box-shadow: 0 0 8px 6px rgba(50, 255, 255, 0.4);
    transition: 0.3s;
}

.detail{
    margin: auto 0  ;
}
