.dtl{
    height: 30px;
    border-radius: 8px;
    border: none;
    background: var(--input-color);
    color: #fff;
}

.enrollTime{
    width: 500px;
    height: 100px;
    background: var(--fyty-color);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;

}