.schedule{
    padding: 1em 3.5em;
    z-index: 800;
}

.scheduleHead{
    color: var(--line-color);
    font-weight: bold;
}

.match-wrape{
    background: var(--componet-color);
    min-height: 420px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}