.teamEach{
    padding: 1em 3.5em;
}

.gameLogoTeam{
    position: absolute;
    right: 70px;
    top: 390px
}

.gameLogoTeam img{
    height: 70px;
    width: 100%;
}

.teamEachHead{
    color: var(--line-color);
    font-weight: bold;
}

.teamContent{
    position: relative;
    margin-top: 190px;
}


.teamLogo{
    display: grid;
    grid-template-columns: 160px 350px;
    
    width: 440px;
    
    column-gap: 20px;
    position: relative;
}

.teamLogo img{
    width: 160px;
    height: 160px;

    border-radius: 10px;
}

.teamCover img{
    position: absolute;
    top: 80px;
    left: 0;

    width: 100%;
    height: 300px;
    object-fit: cover;

    z-index: -10;
}

.name-des{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    margin-top: 60px;
}

.name-des h1{
    margin-block-start: 0;
    margin-block-end: 0;
}

.team-detail-box{
    margin-top: 40px ;

    width: 100%;
    min-height: 500px;
    
    background: var(--componet-color);

    border-radius: 20px;
    border: solid 0.5px var(--line-color);
}

.select-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3em;
}

.tour-sel{
    background: var(--fyty-color);
    transition: 0.3s;
    height: 60px;
    border-radius: 20px 0 0 0;
    border: solid 0.5px var(--line-color);
    border-top: 0px;
    border-left: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-not-sel{
    background: var(--componet-color);
    transition: 0.3s;
    height: 60px;
    border-radius: 20px 0 0 0;
    border: solid 0.5px var(--line-color);
    border-top: 0px;
    border-left: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-not-sel:hover{
    background: var(--line-color);
    cursor: pointer;
}

.mem-sel{
    background: var(--fyty-color);
    transition: 0.3s;
    height: 60px;
    border-radius: 0 20px 0 0;
    border-bottom: solid 0.5px var(--line-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.mem-not-sel{
    background: var(--componet-color);
    transition: 0.3s;
    height: 60px;
    border-radius: 0 20px 0 0;
    border-bottom: solid 0.5px var(--line-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.mem-not-sel:hover{
    background: var(--line-color);
    cursor: pointer;
}

.tourList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memberList{
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
    margin: 20px 0;
}

.joinTeam{
    position: absolute;
    top: 140px;
    right: 20px;

    background: var(--fyty-color);
    padding: 8px;
    border-radius: 5px;
    text-align: center;

    font-size: 1.2em;
}

.joinTeam:hover{
    cursor: pointer;
    background: var(--hover-color);
}


.teamReq{
    position: absolute;
    top: 140px;
    right: 20px;

    background: var(--fyty-color);
    padding: 8px;
    border-radius: 5px;
    text-align: center;

    font-size: 1.2em;
}

.teamReq:hover{
    cursor: pointer;
    background: var(--hover-color);
}

.noti{
    position: absolute;
    top: -5px;
    right: -5px;

    background: var(--noti-color);
    height: 15px;
    width: 15px;
    border-radius: 50%;
}


.leaveTeam{
    position: absolute;
    top: 140px;
    right: 20px;

    color: var(--line-color);
    border: solid 2px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;

    font-size: 1.2em;
}

.leaveTeam:hover{
    cursor: pointer;
    background: var(--noti-color);
    color: #fff;
}

.req-sent{
    position: absolute;
    top: 140px;
    right: 20px;

    color: var(--line-color);
    border: solid 2px;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    font-size: 1.2em;
}

.changeTeamLogo{
    position: absolute;
    bottom: 5px;
    left: 15px;
}

.changeTeamCover{
    position: absolute;
    top: 340px;
    right: 60px;
    z-index: 308;
}