.team{
    padding: 1em 3.5em;
    z-index: 800;
}

.teamHead{
    color: var(--line-color);
    font-weight: bold;
}

.teamSearchBarWrape{
    width: 90.7vw;
    height: 70px;
    margin: 30px auto;
    z-index: 850;

    background-color: var(--componet-color);
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.teamSearchBar{
    position: relative;
    width: 27vw;
    margin-left: 60%;
}

.teamSearchBar input{
    background-color: var(--bg-color);
    width: 27vw;
    height: 25px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9em;
}

.teamSearchBar img{
    position: absolute;
    right: -10px;
    top: 20%;
}

.teamSearchBar input::placeholder {
    opacity: 1;
    color: #ffffff;
}

.createTeamBtn{
    background: var(--fyty-color);
    margin-left: 30px;
    height: 45px;
    width: 60px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
}

.createTeamBtn:hover{
    cursor: pointer;
    background: var(--hover-color);
    box-shadow: 0 0px 8px 2px rgb(10, 253, 221);
}

.teamsWrape{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.lines {
    position: absolute;
    margin-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
}