.teamEach{
    padding: 1em 3.5em;
}

.teamEachHead{
    color: var(--line-color);
    font-weight: bold;
}

.teamContent{
    margin-top: 190px;
}


.teamLogo{
    display: grid;
    grid-template-columns: 160px 350px;
    
    width: 440px;
    
    column-gap: 20px;
}

.teamLogo img{
    width: 160px;
    height: 160px;

    border-radius: 10px;
}

.teamCover img{
    position: absolute;
    top: 80px;
    left: 0;

    width: 100%;
    height: 300px;
    object-fit: cover;

    z-index: -10;
}

.name-des{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    margin-top: 60px;
}

.name-des h1{
    margin-block-start: 0;
    margin-block-end: 0;
}

.team-detail-box{
    margin-top: 40px ;

    width: 100%;
    min-height: 500px;
    
    background: var(--componet-color);

    border-radius: 20px;
    border: solid 0.5px var(--line-color);
}

.select-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3em;
}

.tour-sel{
    background: var(--fyty-color);
    transition: 0.3s;
    height: 60px;
    border-radius: 20px 0 0 0;
    border: solid 0.5px var(--line-color);
    border-top: 0px;
    border-left: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-not-sel{
    background: var(--componet-color);
    transition: 0.3s;
    height: 60px;
    border-radius: 20px 0 0 0;
    border: solid 0.5px var(--line-color);
    border-top: 0px;
    border-left: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-not-sel:hover{
    background: var(--line-color);
    cursor: pointer;
}

.mem-sel{
    background: var(--fyty-color);
    transition: 0.3s;
    height: 60px;
    border-radius: 0 20px 0 0;
    border-bottom: solid 0.5px var(--line-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.mem-not-sel{
    background: var(--componet-color);
    transition: 0.3s;
    height: 60px;
    border-radius: 0 20px 0 0;
    border-bottom: solid 0.5px var(--line-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.mem-not-sel:hover{
    background: var(--line-color);
    cursor: pointer;
}

.tourList{
    display: flex;
    flex-direction: column;
    align-items: center;
}