.loginNotiBlockPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.unauth-noti{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}