:root{
    --fyty-color: #07b5b5;
    --bg-color: #181A27;
    --componet-color: #242633;
    --input-color: #404251;
    --noti-color: #e14040;
}

body{
    background: #181A27;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    margin: 0;
}

.fytyColor{
    color:  var(--fyty-color);
}

.webBody{
    padding-top: 100px;
}